/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* montserrat-700 - cyrillic_latin */
 @font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

html,
body{
    width: 100%;
    height: 100vh;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;

    background-color: #e5e5e5;
}
body.no-scrol{
    overflow: hidden;
}
p,
h2{
    margin: 0;
    line-height: inherit;
    font-weight: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
}


img{
    max-width: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.header{
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(51, 51, 51, .1);
    position: sticky;
    top: 0;
    z-index: 99;
    height: 100px;
    padding: 26px 0;
}

.header__conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header__logo-main{
    width: 90px;
    height: 58px;
}

.img-logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.header__menu-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.header__menu-item:not(:last-child){
    margin-right: 25px;    
}

.header__menu-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: .25px;
    color: #000;
}

.header__call{
    display: flex;    
    align-items: center;
}

.header__telefon{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-right: 25px; 
}

.free-call{    
    font-size: 10px;
    line-height: 130%;
    letter-spacing: .4px;
    color: #000;
    margin: 0;    
}




.main__wrapper{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 14px;
}

.header-menu{
    display: flex;
    justify-content: space-between;  
    align-items: center;   
    
}

.header-menu__item{    
    width: 200px;
}

.item-center{
    display: flex;
    justify-content: center; 
}

.call-margin-left{
    margin-left: 30px;
}

.item-text{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: .25px;
    color: #000;
}

.free-call{    
    font-size: 10px;
    line-height: 130%;
    letter-spacing: .4px;
    color: #000;
    margin: 0;    
}

.call-font-size{
    font-weight: 600;
}

.btn__main-call{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 24px;
    font-weight: 600;
    border-radius: 6px;
    min-height: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    outline: 0;
    transition: .2s;
    cursor: pointer;
    background-color: #ff00ea;
    color: #000000;
}

.main{    
    flex-grow: 1;  
}

.main__content{
    display: flex;
    justify-content: center;       
    min-height: 480px;
    background-color: #ebebeb; 
    
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px; 
    background: url(../img/tractor-fon.jpg) center center no-repeat transparent;
    background-size: cover;   
}

._conteiner{
    max-width: 1700px;
    padding: 0 20px;
    margin: 0 auto;
}

.main__content-wrapper{    
    padding-top: 30px;
    max-width: 700px;
}

.main__content-block{
    width: auto;
}

.content-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: .15px;
    color: #000;
    margin-bottom: 10px;
}

.content-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1.33;
    font-weight: 600;
}

.content-example{
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 400;    
}

.content-title{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.content-title-item{
    width: 300px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 18px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.content-application{    
    margin-top: 32px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 18px;
}

.content-application-item{
    display: flex;
    flex-direction: column;
}

.content-application-item-text{
    font-size: 14px;    
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: .4px;
    color: #000;
}

.content-application-item-face{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.content-faces{
    position: relative;
    margin: 0;
}

.label-face{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    margin-left: 4px;
}

.label-face::before{
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    box-shadow: 0 0 0 1px #000000;
    border-radius: 50%;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    flex-shrink: 0;
    background-color: #ffffff;
}

.content-application-item-contant{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}

.content-application-item-obrabotka{
    text-align: inherit;
    align-self: flex-end;  
}

.content-application-item-button{    
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 0 20px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff00ea;
}





/* FOOTER */
.footer{    
    margin-top: 100px;
    height: 90px;    
    background-color: #b100a2;    
}

.footer__conteiner{
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    min-height: 90px;  
    color: #000000;
}

.conteiner{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.footer__logo{
    position: relative;    
}

.footer__nav-list{
    display: flex;
    align-items: center;
}

.footer__nav-item{
    margin-right: 30px;
}

.footer__nav-link{
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}

.footer__seti-list{
    display: flex;
    align-items: center;    
}

.footer__seti-item{
    margin-right: 25px;
}

.footer__seti-link{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.telegram-link{
    background: url(../img/footer-telegram.svg) center center no-repeat transparent;
    background-size: 70%;
}

.vk-link{
    background: url(../img/footer-vk.svg) center center no-repeat transparent;
    background-size: 70%;
}