.pipi {
    color: rgb(12, 231, 183);
}
.pipij {
    margin: 10px 15px 30px 40px;
    padding: 10px 15px 30px 40px;
    background-color: blue;
    color: #847;
}
.hfjl {
}
.ksda {
}
.kdl {
}
.ldkaskd {
    font-size: 30px;
    font-weight: 700;
    color: rgb(61, 43, 78);
}